<div class=row>
	<div class="col-lg-12 col-md-6">
		<div class="panel panel-default">
			<div class=panel-heading>
				<h2>Please Sign In.</h2>
			</div>
			<div class=panel-body>
				<div class=col-lg-5>
					<form role=form name=loginForm novalidate>
						<fieldset>
							<p>Enter your qyiik ID and password.</p>
							<div class=form-group
								ng-class="{ 'has-error' : (profile.isSubmitted() || loginForm.qyiikid.$touched) && loginForm.qyiikid.$invalid }">
								<label for=qyiikid>qyiik ID</label>
								<div>
									<input id=qyiikid name=qyiikid type=email
										ng-model=profile.qyiikid placeholder="qyiik ID *"
										class="form-control input-md" required> <span
										ng-if="profile.isSubmitted() || loginForm.qyiikid.$touched"><p
											class=text-danger ng-show=loginForm.qyiikid.$error.required>qyiik
											ID is Required.</p>
										<p class=text-danger ng-show=loginForm.qyiikid.$error.email>qyiik
											ID is not valid.</p></span>
								</div>
							</div>
							<div class=form-group
								ng-class="{ 'has-error' : (profile.isSubmitted() || loginForm.password.$touched) && loginForm.password.$invalid }">
								<label for=password>Password</label>
								<div>
									<input id=password name=password type=password
										ng-model=profile.password placeholder="Password *"
										class="form-control input-md" required> <span
										ng-if="profile.isSubmitted() || loginForm.password.$touched"><p
											class=text-danger ng-show=loginForm.password.$error.required>Password
											is Required.</p></span>
								</div>
							</div>
							<div class=form-group>
								<div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
									<div>Forget your qyiik ID or password?</div>
									<div>
										<button id=submit name=submit
											class="col-lg-4 col-md-4 col-sm-8 col-xs-12 btn btn-primary pull-right"
											ng-click=login(loginForm)>SignIn</button>
									</div>
									<div>Create a qyiik ID now</div>
								</div>
							</div>
							<div class="hidden-lg hidden-md col-sm-12 col-xs-12">
								<div class="hidden-lg hidden-md col-sm-5 col-xs-12">Forgetyourqyiik
									ID or password?</div>
								<div class="col-lg-1 col-md-10 col-sm-2 hidden-xs">&nbsp;</div>
								<div class="hidden-lg hidden-md col-sm-5 col-xs-12">Createaqyiik
									ID now</div>
								<div class="hidden-lg hidden-md col-sm-12 col-xs-12">&nbsp;</div>
								<button id=submit name=submit
									class="col-lg-4 col-md-10 col-sm-5 col-xs-12 btn btn-primary"
									ng-click=login(loginForm)>SignIn</button>
								<div class="col-lg-1 col-md-10 col-sm-2 col-xs-12">&nbsp;</div>
								<button id=button1id name=button1id
									class="col-lg-2 col-md-2 col-sm-5 col-xs-12 btn btn-default">Cancel</button>
							</div>
							<div class=row ng-if=profile.isSubmitted()>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div>{{profile.form.message}}</div>
								</div>
							</div>
							<div class=row>
								<div class="col-lg-12 col-md-6">
									<div>&nbsp;</div>
								</div>
							</div>
							<div class=row>
								<div class="col-lg-12 col-md-6">
									<div>&nbsp;</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class=panel-footer>
				<div class="form-group hidden-sm hidden-xs">
					<button id=button1id name=button1id
						class="col-lg-2 col-md-4 col-sm-8 col-xs-12 btn btn-default">Cancel</button>
				</div>
				<div class=row>
					<div class="col-lg-12 col-md-6">
						<div>&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>